<html lang="en">

   <%- include headeradmin %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotroncon">
        <h1>Welcome milad </h1>
        <p>Hello Dashboard</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">مشاهده گزارشات »</a>
        </p>
      </div>
    <%- include footer %>