 <%- include headeradmin %>
<div class="container col-sm-12" id="mainform">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">uplod</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/">uplod</a></div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post" action="/admin/upload"
                      onSubmit="return checkblank(this);" enctype="multipart/form-data">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-success col-sm-12"><%= message %></div>
                    <% } %>
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-md-3 control-label">albome Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="album" placeholder="albome Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-md-3 control-label">text</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="text" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-md-3 control-label">owner</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="owner" placeholder="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-md-3 control-label">cat</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="cat" placeholder="cat">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mob_no" class="col-md-3 control-label">price</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" name="price" placeholder="price">
                        </div>
                    </div>
                    <label class="custom-file-label" for="customFile">Choose voice</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="voice_file" id="customFile">
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="customFile">Choose img</label>
                      <input type="file" class="custom-file-input" name="img_file" id="customFile">
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Sign Up
                            </button>

                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>

<%- include footer %>
 
